:root {
  --white: #ffffff;

  --blue-100: #d5d5fe;
  --blue-200: #b6b6f4;
  --blue-400: #6868c4;
  --blue-500: #3f3fa7;
  --blue-700: #2d2d7d;
  --blue-800: #21215a;
  --blue-900: #151549;

  --logo-one: #ff70a6;
  --logo-two: #70d6ff;
  --logo-three: #00f5d4;
  --logo-four: #e9ff70;

  --completed: #13e773;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background: var(--blue-800);
  color: var(--blue-200);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
